{
  "layer": "top", // Waybar at top layer
  "position": "top", // Waybar position (top|bottom|left|right)
  "height": 12,
  "margin": "0 0 0 0",
  // Choose the order of the modules idle_inhibitor
  "modules-left": [
    "custom/notification",
    "cffi/niri-workspaces-enhanced",
    "custom/cava-internal",
    "custom/ScrollMPRIS",
    "tray",
    "niri/window",
  ],
  "modules-center": [
    "clock"
  ],
  "modules-right": [
    "backlight",
    "pulseaudio",
    "custom/keyboard-layout",
    "temperature",
    "memory",
    // "custom/powerbar",
    "battery",
    "network",
    "custom/power"
  ],

  // Modules configuration
   "cffi/niri-workspaces-enhanced": {
      // Make sure to set the path to the install location on your system
      // "module_path": "~/.config/waybar/niri-workspaces-enhanced.so",
      "module_path": "/home/salvo/.config/waybar/libwaybar_niri_workspaces_enhanced.so",
      // Format string for workspace labels. Available placeholders:
      //   {index}          - Workspace index number
      //   {name}           - Workspace name (might be empty)
      //   {index-and-name} - Index followed by name if present (e.g., "1 Work")
      //   {value}          - Name if present, otherwise index
      //   {separator}      - ": " when icons are present, "" when empty
      //   {window-icons}   - Formatted icons for windows in workspace
      "format": "{index}{separator}{window-icons}",
      // Apply separate styles to icons depending on current state
      "window-icon-format": {
        "default": "{icon}",
        "urgent": "<span foreground='red'>{icon}</span>",
        "focused": "<span foreground='blue'>{icon}</span>",
      },
      "window-icons": {
        "com.mitchellh.ghostty": "",
        "darktable": "",
        "foot": "",
        "google-chrome": "",
        "spotify": "",
        "steam": "",
      },
      // If no icon is found for a window, the default is used instead
      "window-icon-default": "*",
   },
  "custom/ciao": {
    "exec": "$HOME/tmp/prova_waybar.sh",
    "return-type": "json",
    "max-length": 5,
    "interval": 3
  },
  "custom/ScrollMPRIS": {
    "return-type": "json",
    "exec": "$HOME/builds/ScrollMPRIS/target/release/ScrollMPRIS -w 20 -d 500",
    "escape": true,
    "on-click": "playerctl play-pause"
  },

  "sway/workspaces": {
    "disable-scroll": false,
    "all-outputs": false,
    "format": "{icon}",
    // "format": "{index} {name}",
    // "format-icons": {
    //   "1": "",
    //   "2": "",
    //   "3": "",
    //   "4": "",
    //   "5": "",
    //   "6": "",
    //   "7": "",
    //   "8": "",
    //   "9": "",
    //   "10": ""
    // }
  },
  "mpd": {
    "tooltip": true,
    "tooltip-format": "{artist} - {album} - {title} - Total Time : {totalTime:%M:%S}",
    "format": " {elapsedTime:%M:%S}",
    "format-disconnected": "⚠  Disconnected",
    "format-stopped": " Not Playing",
    "on-click": "mpc toggle",
    "state-icons": {
      "playing": "",
      "paused": ""
    }
  },
  "mpd#2": {
    "format": "",
    "format-disconnected": "",
    "format-paused": "",
    "format-stopped": "",
    // Commands to execute on events
    "on-click": "mpc -q pause && mpc -q prev && mpc -q start"
  },
  "mpd#3": {
    "interval": 1,
    "format": "{stateIcon}",
    "format-disconnected": "",
    "format-paused": "{stateIcon}",
    "format-stopped": "",
    "state-icons": {
      "paused": "",
      "playing": ""
    },
    // Commands to execute on events
    "on-click": "mpc toggle"
  },
  "mpd#4": {
    "format": "",
    "format-disconnected": "",
    "format-paused": "",
    "format-stopped": "",
    // Commands to execute on events
    "on-click": "mpc -q pause && mpc -q next && mpc -q start"
  },
  "custom/swap": {
    "on-click": "~/.config/waybar/scripts/swap.sh",
    "tooltip": "Swap between waybar configs",
    "format": "Bg  "
  },
  "custom/DND": {
    "on-click": "~/.config/sway/scripts/dnd.sh toggle > /tmp/dnd.log",
    "tooltop": "DND",
    "format": "DND Disabled"
    },
  "custom/mpd": {
    "format": " {title} - {artist}",
    "interval": 5,
    "exec": "mpc current --format='\"title\":\"%title%\",\"artist\":\"%artist%\"'"
  },
  "custom/cava-internal": {
    "exec": "sh ~/.config/waybar/scripts/Cava.sh",
    "format": "{}",
    "tooltip": false,
    "on-click": "swaymsg reload & pkill waybar & waybar",
    "layer": "below",
    "output": "all"
  },
  "sway/mode": {
    "format": "<span style=\"italic\">{}</span>"
  },
  "sway/window": {
    "format": "~ {app_id}"
  },
  "idle_inhibitor": {
    "format": "{icon}",
    "format-icons": {
      "activated": "",
      "deactivated": ""
    }
  },
  "tray": {
    "icon-size": 20,
    "spacing": 5,
    "show-passive-items": true,

  },
  "clock": {
    "tooltip-format": "<tt><small>{calendar}</small></tt>",
    "calendar": {
      "mode": "month",
      "mode-mon-col": 3,
      "weeks-pos": "right",
      "on-scroll": 1,
      "on-click-right": "mode",
      "format": {
        "months": "<span color='#ffead3'><b>{}</b></span>",
        "days": "<span color='#ecc6d9'><b>{}</b></span>",
        "weeks": "<span color='#99ffdd'><b>W{}</b></span>",
        "weekdays": "<span color='#ffcc66'><b>{}</b></span>",
        "today": "<span color='#ff6699'><b><u>{}</u></b></span>"
      }
    },
    "actions": {
      "on-click-right": "mode",
      "on-click-forward": "tz_up",
      "on-click-backward": "tz_down",
      "on-scroll-up": "shift_up",
      "on-scroll-down": "shift_down"
    },
    "format": "  {:%a %d %b  %I:%M %p}", //12 hour format
    // "format": " {:%d %m %Y  %H:%M}",	//24 hour format
    "format-alt": "  {:%d/%m/%Y  %H:%M:%S}",
    // //"timezones": [ "Kolkata" ],
    // //"max-length": 200
    "interval": 1
  },
  "clock": {
      "format": "  {:%H:%M:%S}",
      "format-alt": "  {:%A, %B %d, %Y (%R)}",
      "tooltip-format": "<tt><small>{calendar}</small></tt>",
      "calendar": {
          "mode"          : "month",
          "mode-mon-col"  : 3,
          "weeks-pos"     : "right",
          "on-scroll"     : 1,
          "on-click-right": "mode",
          "format": {
              "months":     "<span color='#ffead3'><b>{}</b></span>",
              "days":       "<span color='#ecc6d9'><b>{}</b></span>",
              "weeks":      "<span color='#99ffdd'><b>W{}</b></span>",
              "weekdays":   "<span color='#ffcc66'><b>{}</b></span>",
              "today":      "<span color='#ff6699'><b><u>{}</u></b></span>"
          }
      },
      "actions": {
          // "on-click-right": "mode",
          "on-click-right": "~/.local/bin/wldash",
          "on-click-forward": "tz_up",
          "on-click-backward": "tz_down",
          "on-scroll-up": "shift_up",
          "on-scroll-down": "shift_down"
      },
      "interval": 1
  },
  "cpu": {
    "format": "﬙ {usage: >3}%",
    "on-click": "alacritty -e htop"
  },
  "memory": {
    // "format": "{: >3}%",
    "format": " {: >3}%",
    "on-click": "alacritty -e htop"
  },
  "temperature": {
    // "thermal-zone": 2,
    "hwmon-path": "/sys/class/hwmon/hwmon0/temp1_input",
    "critical-threshold": 80,
    // "format-critical": "{temperatureC}°C ",
    "format": "  {temperatureC}°C"
  },
  "backlight": {
    // "device": "acpi_video1",
    "format": "{icon} {percent: >3}%",
    "format-icons": ["", ""],
    "on-scroll-down": "$HOME/.config/sway/scripts/brightness.py minus",
    "on-scroll-up": "$HOME/.config/sway/scripts/brightness.py plus",
    // "on-scroll-up": "light -U 5 && light -G | cut -d'.' -f1 > $SWAYSOCK.wob"
  },
  "battery": {
    "states": {
      // "good": 95,
      "warning": 30,
      "critical": 15
    },
    "format": "{icon} {capacity: >3}%",
    // "format-good": "", // An empty format will hide the module
    // "format-full": "",
    "format-icons": ["", "", "", "", ""]
    // "format-icons": ["", "", "", "", "", "", "", "", "", ""]
  },
  "custom/powerbar": {
        "return-type": "json",
        "interval": 1,
        // "exec": "$HOME/.config/waybar/powerbar -full 'FULL - {usage}W' -charging '{state} {capacity}% - {usage}W - {H}h {M}m' -waybar 2> /dev/null",
        "exec": "$HOME/.config/waybar/powerbar -full 'FULL - {usage}W' -charging '{state} {capacity}% - {usage}W' -discharging '{capacity}% - {usage}W' -waybar 2> /dev/null"
    },
    "network": {
	"interface": "wlp2s0",
	"format": "{ifname}",
	"format-wifi": "{essid} ({signalStrength}%) ",
	"format-ethernet": "{ifname} ",
	"format-disconnected": "", //An empty format will hide the module.
	"format-disconnected": "",
	"tooltip-format": "{ifname}",
	"tooltip-format-wifi": "{essid} ({signalStrength}%) ",
	"tooltip-format-ethernet": "{ifname} ",
	"tooltip-format-disconnected": "Disconnected",
	"max-length": 50
},
  "network": {
    // "interface": "wlp2s0", // (Optional) To force the use of this interface
    "format": "⚠  Disabled",
    "format-wifi": "  {essid}",
    // "format-ethernet": " {ifname}: {ipaddr}/{cidr}",
    "format-ethernet": "  Wired",
    "format-disconnected": "⚠  Disconnected",
    // "on-click": "alacritty -e nmtui"
    "on-click": "nm-connection-editor"
  },
  "pulseaudio": {
    "scroll-step": 1,
    "format": "{icon} {volume: >3}%",
    "format-bluetooth": "{icon} {volume: >3}%",
    "format-muted": " muted",
    "format-icons": {
      "headphones": "",
      "handsfree": "",
      "headset": "",
      "phone": "",
      "portable": "",
      "car": "",
      "default": ["", ""]
    },
    "on-click": "$HOME/.local/scripts/audioselector.sh",
    "on-scroll-up": "$HOME/.config/sway/scripts/audio.py plus",
    "on-scroll-down": "$HOME/.config/sway/scripts/audio.py minus",
    "on-click-middle": "$HOME/.config/sway/scripts/audio.py toggleMute",
    "on-click-right": "$HOME/.config/sway/scripts/audio.py toggleMute",
  },
  "custom/pacman": {
    "format": " {}",
    "interval": 7200, // every two hours
    "exec": "i=$(checkupdates); echo \"$i\" |wc -l; echo \"$i\" |column -t |tr '\n' '\r'", // # of updates and tooltip details
    "exec-if": "exit 0", // always run; consider advanced run conditions
    // "on-click": "alacritty -e sudo pacman -Syu", // update system
    "signal": 8
  },
  "custom/power": {
    "format": "⏻",
    "on-click": "nwg-bar -t $XDG_CONFIG_HOME/niri/nwg-bar/bar.json -s $XDG_CONFIG_HOME/niri/nwg-bar/style.css",
    "tooltip": false
  },
  "custom/keyboard-layout": {
    "exec": "niri msg keyboard-layouts | grep '*' | cut -d' ' -f4-",
    // Interval set only as a fallback, as the value is updated by signal
    "interval": 1,
    "format": "  {}", // Icon: keyboard
    // Signal sent by Sway key binding (~/.config/sway/key-bindings)
    "signal": 1, // SIGHUP
    "tooltip": false,
    "on-click": "~/.config/waybar/scripts/keyhint.sh"
  },
  "custom/launcher": {
    "format": " ",
    "on-click": "exec nwg-drawer -c 7 -is 70 -spacing 23",
    "tooltip": false
  },
  "custom/notification": {
    "tooltip": true,
    "format": "<span size='16pt'>{icon}</span>",
    "format-icons": {
      "notification": "󱅫",
      "none": "󰂜",
      "dnd-notification": "󰂠",
      "dnd-none": "󰪓",
      "inhibited-notification": "󰂛",
      "inhibited-none": "󰪑",
      "dnd-inhibited-notification": "󰂛",
      "dnd-inhibited-none": "󰪑"
    },
    "return-type": "json",
    "exec-if": "which swaync-client",
    "exec": "swaync-client -swb",
    "on-click": "swaync-client -t -sw",
    "on-click-right": "swaync-client -d -sw",
    "escape": true
  },

}
